.mission-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    border-radius: 10px;
    border-bottom: 1px solid darkgray;
}

.mission-container:hover{
    transition: 0.3s ease all;
    background: #0000000e;    
}

.mission-container h1{
    font-size: 45px;
}


.mission-img{
    margin: 20px;
    flex-basis: 250px;
    text-align: center;
}

.mission-img img{
    width: 95%;
    border-radius: 10px;
}
.mission-img img:hover{
    transition: .4s ease all;
    width: 100%;
}


.mission-info{
    margin: 20px;
    flex-basis: 600px;
}


.mission-info p{
    color: gray;
    font-size: 18px;
    margin: 10px;
}

.mission-info h3{
    color: gray;
    padding: 5px;
    font-size: 25px;
}
